:root {
  --bg-grad: hsl(0, 0%, 80%);
  --bg-grad-a: hsla(0, 0%, 50%, 0.05);
  --my-orange: rgb(255, 128, 0);

  @mixin dark-root {
    --bg-grad: hsl(0, 0%, 20%);
    --bg-grad-a: hsla(0, 0%, 63%, 0.05);
  }
}