@import './media.css';
@import './colors.module.css';

.container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: 8px;

  @media (--desktop) {
    width: 70%;
  }
}

.title1 {
  padding: 25px;
  background: #b35020;
  color: whitesmoke;
  box-shadow:
    #dd5500 6px 3px,
    #ee8800 12px 6px,
    #eeee66 18px 9px
}

.header {
  padding: var(--mantine-spacing-md);
}

.outline {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-radius: 20px;
  border-color: #444444;
  box-shadow:
    rgba(255, 128, 0, 0.4) 5px 4px 12px,
    rgba(0, 0, 0, 0.2) 5px 7px 7px;
  transition: border-color 0.3s ease;
}

.outline:hover {
  border-color: var(--my-orange);
}

.seeThroughBtn {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--my-orange);
  transition: background-color 0.3s ease;
}

.seeThroughBtn:hover {
  background-color: rgba(255, 128, 0, 0.75);
}
