body, #root {
  margin: 0;
  min-height: 100vh;
}

body {
  background-image: 
      linear-gradient(90deg,rgba(0,0,0,0),rgba(255,128,0,0.1)),
      repeating-linear-gradient(
        45deg,
        var(--bg-grad-a) 0px,
        var(--bg-grad-a) 10px,
        transparent 10px,
        transparent 100px
      ),
      repeating-linear-gradient(
        90deg,
        var(--bg-grad-a) 0px,
        var(--bg-grad-a) 50px,
        transparent 50px,
        transparent 100px
      ),
      linear-gradient(90deg, var(--bg-grad), var(--bg-grad));
}
